body {
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  color: #2d2d2d;
}

main {
  margin: 10vh auto;
  padding: 1vh;
  max-width: 350px;
}

mark {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #0000 67%, #0001 67%);
}

p {
  letter-spacing: 0.05rem;
}

a {
  color: #06e;
  font-size: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

h2 {
  margin-bottom: 0.33rem;
  color: #0007;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: #06e;
  font-size: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

#links {
  display: flex;
  justify-content: space-evenly;
  margin: 0% 10% 0% 10%;
}
